/*
*    admin用のcss
*    class="side"とclass="main"は全てのファイルに必要
*/


.side {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.main {
    display: inline-block;
    text-align: center;
    width: 79%;
}

