.bg-gray
{
    width:auto;
    background-image: url("../images/bg/bg_gray.jpg");
    background-size: contain;
}

.bg-gray-flower
{
    width:auto;
    background-image: url("../images/bg/bg_img_gray.jpg");
    background-size: contain;
}

.bg-pink-flower
{
    width:auto;
    background-image: url("../images/bg/bg_img_pink.jpg");
    background-size: contain;
}

.bg-purple-flower
{
    width:auto;
    background-image: url("../images/bg/bg_img_purple.jpg");
    background-size: contain;
}

.bg-news
{
    width:90%;
    background-image: url("../images/bg/bg_news_read_middle.png");
    background-size: contain;
    text-align:center;
}
