.flower-header
{
    background-color:skyblue;

}

.header-child
{
    width:20%;
    height:auto;
    float:left;
    /* border: solid 1px red;
    box-sizing: border-box;
    font-weight: bold; */
}