.flower-header
{
    height: 52px;
    background-image: url("{{assets('/images/header/bg_navi.png')}}");
}

.header-child
{
    width:20%;
    height:auto;
    float:left;
    /* border: solid 1px red;
    box-sizing: border-box;
    font-weight: bold; */
}

.other-header-child1
{
    width:20%;
    height:auto;
    position: absolute;
    border: solid 1px red;
    box-sizing: border-box;
    right:8px;
    top:8px;
    display: none;
    z-index: 10;
}

.other-header-child2
{
    width:20%;
    height:auto;
    position: absolute;
    border: solid 1px red;
    box-sizing: border-box;
    right:8px;
    top:83px;
    display: none;
    z-index: 10;
}

.other-header-child3
{
    width:20%;
    height:auto;
    position: absolute;
    border: solid 1px red;
    box-sizing: border-box;
    right:8px;
    top:158px;
    display: none;
    z-index: 10;
}

.other-header-child4
{
    width:20%;
    height:auto;
    position: absolute;
    border: solid 1px red;
    box-sizing: border-box;
    right:8px;
    top:233px;
    display: none;
    z-index: 10;
}

.other-header-child5
{
    width:20%;
    height:auto;
    position: absolute;
    border: solid 1px red;
    box-sizing: border-box;
    right:8px;
    top:308px;
    display: none;
    z-index: 10;
}

.other-header-child6
{
    width:20%;
    height:auto;
    position: absolute;
    border: solid 1px red;
    box-sizing: border-box;
    right:8px;
    top:383px;
    display: none;
    z-index: 10;
}