.bg-news
{
    width:90%;
    background-image: url("../images/bg/bg_news_read_middle.png");
    background-size: contain;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.news-title
{
    position: relative;
    background-color: #FFEEFF;
    width: 99%;
    margin: 0.5%;
}
.news_title_icon
{
    position: absolute;
    top: 10%;
    left: -9%;
}

.news-content
{
    text-align:left;
    margin: 5%;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 200%;
}
