
.my-study-info
{
    width:100%;
    height:218px;
    position: relative;
}

.char-score
{
    width:100%;
    height:100%;
    position:relative;
    
}

.learn-button
{
    position:absolute;
    width:50%;
    top:44.5%;
    left:45%;
}

table
{
    height: 0 auto;
}

table div
{
    height: 100%;
}