
.my-study-info
{
    position: relative;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
    margin: 0 2%;
}

.study-font
{
    font-weight:bold;
    color:#353b6b;
    text-align: right；
}

.char-score
{
    width:100%;
    height:100%;
    position:relative;

}

.learn-button
{
    position:absolute;
    width:50%;
    top:41.5%;
    left:45%;
}

.score-str
{
    position:absolute;
    top:6%;
    left:70%;
    font-size: 14px;
}

.char-icon
{
    position:absolute;
    top:32.5%;
    left:3%;
    width:41%;
}

table
{
    height: 0 auto;
}

table div
{
    height: 100%;
}

.profile_update_btn
{
    position:absolute;
    top:0;
    right:10%;
}

.profile_update_input
{
    position:absolute;
    top:50%;
    left:15%;
    width: 70%;
}

.profile_annotation
{
    color: black;
    opacity: 0.4;
    font-size: small;

}

.reward-tab{
	display: flex;
    flex-wrap:wrap;
    text-align: center;
    list-style: none;
    padding:0;
    margin:0;
}
.reward-tab li {
	width: calc(100%/6);/*←画像を横に4つ並べる場合*/
	box-sizing:border-box;
}
.reward-tab li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
    height: auto; /*画像の縦横比を維持 */
    vertical-align:top;
}

.achive-img{
	display: flex;
    flex-wrap:wrap;
    text-align: center;
    list-style: none;
    padding:0;
    margin:0;
}
.achive-img li {
	width: calc(100%/2);/*←画像を横に4つ並べる場合*/
	box-sizing:border-box;
}
.achive-img li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
    height: auto; /*画像の縦横比を維持 */
    vertical-align:top;
}

.obi_charaname {
    width:auto;
    background-image: url("../images/titlebar/obi_charaname.png");
    background-size: contain;
}
.high-rank-title {
    position: absolute;
    top: 3%;
    left: 28%;
    color: white;
    font-size: 12px;
}
.high-rank-name {
    position: absolute;
    top: 55%;
    left: 28%;
    color: black;
    font-size: 12px;
}
.high-rank-point {
    position: absolute;
    top: 20%;
    left: 75%;
    color: white;
    font-size: 20px;
}
.low-rank-name {
    position: absolute;
    top: 65%;
    left: 5%;
}
.low-rank-point {
    position: absolute;
    top: 5%;
    left: 70%;
}